p{
    color: #555;
    margin-bottom: 30px;
    margin: 0px;
}
/*.caixa{
    width: 300px;
    height: 150px;
    background-color: lightblue;
    padding: 40px;
    border: 15px dashed blue;
    margin: 0px;
}
.caixa2{
    width: 200px;
    height: 180px;
    background-color: pink;
    padding: 30px;
    border: 25px inset red;
    margin: 20px;
}*/

*{
    box-sizing: border-box;
}
body{
    background-color: #ececec;
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
}
.card{
    width: 350px;
    background-color: white;
    margin: 0 auto;
    padding: 20px;
}
img{
    width: 310px;
}
.card button{
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: royalblue;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
span{
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: green;
    margin-bottom: 25px;
}
.card button :hover{
    background-color: rgb(120, 156, 255);
}