.teste-span{
    background-color: blueviolet;
    display: block;
}
.teste{
    background-color: aqua;
}
.teste2{
    background-color: chartreuse;
    width: 200px;
}
span{
    background-color: rgb(255, 255, 0);
    width: 200px;
    display: inline-block;
}
.diva{
    height: 100px;
    width: 100px;
    background-color: brown;
    display: inline-block;
}
.block{
    width: 150px;
    height: 80px;
    background: gray;
    display: block;
}
.inline{
    width: 150px;
    height: 80px;
    background: gray;
    display: inline;
}
.inline-block{
    width: 150px;
    height: 80px;
    background: gray;
    display: inline-block;
}
.nenhuma{
    background-color: forestgreen;
    visibility: hidden;
}
.a1{
    background-color: hotpink;
    display: inline-block;
    width: 200px;
}
.card{
    width: 300px;
    padding: 20px;
    background: #eee;
    display: inline-block;
}
  
button{
    display: inline-block;
    width: 120px;
    padding: 10px;
    margin-left: 10px;
    background: royalblue;
}
p{
    display: inline-block;
}